<div class="confirmation-header">
    <div class="confirmation-container">
        <div class="confirmation-items">
            <h1>Success!</h1>
            <p class="confirmation-item">Thank you, {{username}}</p>
            <p class="confirmation-item">Your {{totalMoney}} order is confirmed</p>
            <p class="confirmation-item">Please Allow 1-3 business day(s) for shipping</p>
            <button class="btn btn-primary" (click)="onBackToProductList()">Back to product list</button>
        </div>
    </div>
</div>
